.config-section-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.config-section-back-arrow{

  width: 95%;
  height: 70px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}